{{ define "title"}}
<title>{{ .Title }}</title>
{{ end }}

{{ define "main" }}
<div class="l__wrapper">
  <div class="l__about c__dark u__p-1">
    <h1 class="c__title"><span>{{ .Site.Title }}</span><small>{{ .Title }}</small></h1>
    {{.Content}}
  </div>
  <div class="l__center">
    <div class="l__map u_a_p-1">
      <div id="map" class="map"></div>
    </div>
  </div>
  <div class="l__about c__dark u__p-1">
    {{ range .Pages }}
      {{.Content}}
    {{ end }}
  </div>
</div>
{{ end }}
